.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: max-content;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--tuffyhacks-black);
  color: var(--tuffyhacks-light-tan);
  padding: 5em 0 5em 0;
}

.statistics {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.statistics p {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
}

.info-container {
  padding-top: 5em;
  margin: 0 2em 0 2em;
}

.info-container h2 {
  font-size: 40px;
}

.info-container p {
  font-size: 20px;
  text-indent: 2em;
}

.info-container p:last-of-type {
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .info-container {
    margin: 0;
    padding-top: 0;
    width: 480px;
  }
}
