.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: max-content;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--tuffyhacks-light-green);
  color: var(--tuffyhacks-brown);
  padding: 5em 0 5em 0;
}

.faq-title {
  margin-bottom: 1em;
  font-size: 40px;
}

.faq-list {
  margin: 4em 2em 5em 2em;
  gap: 2em;
  display: grid;
  grid-auto-flow: dense;
}

/* .faq-list-item {} */

@media (min-width: 768px) {
  .faq-list {
    grid-template-columns: 1fr 1fr;
    width: 60vw;
  }
}
