.illustration-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.illustration-object {
  --x-position: initial;
  --y-position: initial;
  --top-offset: initial;
  --right-offset: initial;
  --bottom-offset: initial;
  --left-offset: initial;
  --custom-width: initial;
  --custom-height: initial;
  position: absolute;
  display: flex;
  width: var(--custom-width);
  height: var(--custom-height);
  top: var(--top-offset);
  right: var(--right-offset);
  bottom: var(--bottom-offset);
  left: var(--left-offset);
}

/* .illustration-object svg {} */
